venv/
.python-version
**/__pycache__/
**/data
**/population_data
**/population_test
**/node_modules
**/dist
.DS_store
**/*.db
.env.local
.env.*.local
uploads
blog-betme-firebase-adminsdk-9i78n-0e61637d30.json
*.sh